<!DOCTYPE html>
<html>
 <head> 
<title>
  I love music!
</title> 
 </head> 
 <body> 
<h3> Here are your results: </h3>
<%= "My name is #{params[:name]}, and I love listening to#{params[:favorite_artist]}."%>

 </body>
</html>